<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Comprar boleto 😁</h1>
    <h5>Los niños mayores a 13 años pagan como adulto</h5>
        <form action="comprar_boleto" method="post"></form>
    <label for="cantidad_personas_adultas">Cantidad de personas ADULTAS a viajar (+18)</label>
    <input type="number" name="cantidad_personas_adultas" id="cantidad_personas_adultas" placeholder="1">
    <br>
        <form action="comprar_boleto" method="post"></form>
    <label for="cantidad_personas_menores">Cantidad de personas MENORES a viajar (-17)</label>
    <input type="number" name="cantidad_personas_menores" id="cantidad_personas_menores" placeholder="0">
</body>
</html>