<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>Tipos de Clases</h1>
    <h3>Economica: </h3>
    <h3>-Incluye una mochila o cartera (Debe caber bajo el asiento delantero)</h3>
    <br>

    <h3>Premium:</h3>
    <h3>-Incluye una mochila o cartera (Debe caber bajo el asiento delantero)</h3>
    <h3>-Incluye equipaje de mano (Debe caber en el compartimiento superior del avión)</h3>
    <br>
    
    <h3>Super Premium:</h3>
    <h3>-Incluye una mochila o cartera (Debe caber bajo el asiento delantero)</h3>
    <h3>-Incluye equipaje de mano (Debe caber en el compartimiento superior del avión)</h3>
    <h3>-Incluye equipaje para despachar 1 valija por adulto (Se despacha en el aeropuerto durante el Check-in)</h3>
</body>
</html>