<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Seguros (●'◡'●)</h1>
    <h3>Ninguno: No cubre nada</h3>
    <br>
    <h3>Basico:</h3>
    <h3>Cancelacion Gratis,</h3>
    <h3>Asistencia medica de hasta USD$100.000</h3>
    <h3>Reembolso por equipaje perdon de USD$1.200</h3>
    <h3>Vuelo demorado USD$120</h3>
        <br>
    <h3>Completo:</h3>
    <h3>Cancelacion Gratis,</h3>
    <h3>Asistencia medica de hasta USD$150.000</h3>
    <h3>Reembolso por equipaje perdon de USD$1.500</h3>
    <h3>Acceso a sala VIP en caso de demora</h3>

</body>
</html>